.registerInput {

    -fx-cursor: text;
}

.registerInput:hover {
    -fx-border-color: #09bef5;
    -fx-border-radius: 10;
}


.loginLabelBtn:hover {
    -fx-text-fill: #09bef5;
    -fx-border-radius: 10;
}

.registerButton {
    -fx-cursor: hand;
    -fx-border-radius: none;
    transition-duration: 0.4s;

}

.registerButton:hover {
    -fx-background-color: #00548f;
}

.inputContainer {
    -fx-pref-height: 51px;
    -fx-max-height: 51px;
    -fx-min-height: 51px;
    -fx-spacing: 4px;
}

.labelError {
    -fx-wrap-text: true;
}
