.app-background {
    -fx-background-color: #E6E6E6;
}

.search {
    -fx-background-color: #ffffff;
}


.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0, 1;
    -fx-background-radius: 5px;
}

.scroll-bar .thumb:hover {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .thumb {
    -fx-pref-width: 3px;
}

.scroll-bar:horizontal .thumb {
    -fx-pref-height: 3px;
}


.scrollpanel > .viewport {
    -fx-background-color: white;
    -fx-background-radius: 0 0 10 10;
}

.scrollpanel {
    -fx-background-radius: 0 0 10 10;
    -fx-background-color: white;
}

.scrollpanel .thumb {
    -fx-background-color: #7d7d7d;
}

.menu-item {
    -fx-background-color: transparent;
    -fx-border-radius: 4px;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-background-radius: 10px;
}

.menu-item:hover {
    -fx-background-color: #a2b7c6;
}

.menu-create {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}

.menu-create:hover {
    -fx-background-color: #80929e;
}