.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: #cfcfcf;
    -fx-background-insets: 0, 0, 1;
    -fx-background-radius: 4px;
    -fx-background-width: 4px;
}

.scroll-bar .thumb:hover {
    -fx-background-color: #09bef5;
}

.scroll-bar:vertical .thumb {
    -fx-pref-width: 4px;
}

.scroll-bar:horizontal .thumb {
    -fx-pref-height: 4px;
}

.button-list-name {
    -fx-background-color: #C7D9E7;
    -fx-background-radius: 10;
    -fx-text-fill: #C7D9E7;
    -fx-padding: 8px 20px 8px 20px;
    -fx-margin: 5px 5px 5px 5px;
}

.button-list-name:hover {
    -fx-background-color: #09bef5;
    -fx-cursor: hand;
}

.color-picker-button {
    -fx-background-color: #F0F0F0;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 5 10;
}

.color-picker-button:hover {
    -fx-background-color: #005b9f;
}


#tag {
    -fx-background-radius: 25;
    -fx-padding: 5 10 5 10;
    -fx-text-fill: white;
}


.color_red {
    -fx-background-color: #d73b20;
}

.color_orange {
    -fx-background-color: #ce761e;
}

.color_yellow {
    -fx-background-color: #dbbb08;
}

.color_green {
    -fx-background-color: #67d12b;
}

.color_lightblue {
    -fx-background-color: #1f94d6;
}

.color_blue {
    -fx-background-color: #274cbc;
}

.color_purple {
    -fx-background-color: #905eaf;
}

.color_pink {
    -fx-background-color: #ce42dd;
}


.view_lists_box {
    -fx-background-color: #fdfdfd;
    -fx-background-radius: 25;
}

.input_text_field {
    -fx-text-fill: #fdfdfd;
    -fx-pref-height: 34px;
    -fx-max-height: 34px;
    -fx-min-height: 34px;
    -fx-background-color: rgb(0, 0, 0, 0);
    -fx-border-style: solid;
    -fx-border-radius: 50;
    -fx-border-color: #656ED3;
}

.input_text_field:focused {
    -fx-border-color: #09bef5;
}

.submit-button {
    -fx-background-color: linear-gradient(to right, #9b9eb6, #09bef5);
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 8px 16px;
    -fx-border-radius: 4px;
    -fx-border-color: transparent;
    -fx-background-radius: 25;
    -fx-cursor: hand;
}

.submit-button:hover {
    -fx-background-color: linear-gradient(to right, #09bef5, #9b9eb6);
}

.scroll-pane {
    -fx-background-color: white;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: #9b9eb6;
    -fx-background-insets: 0, 0, 1;
    -fx-background-radius: 4px;
    -fx-background-width: 4px;
}

.scroll-bar .thumb:hover {
    -fx-background-color: #09bef5;
}

.scroll-bar:vertical .thumb {
    -fx-pref-width: 4px;
}

.scroll-bar:horizontal .thumb {
    -fx-pref-height: 4px;
}

.button-list-name {
    -fx-background-color: #9b9eb6;
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-padding: 8px 20px 8px 20px;
    -fx-margin: 5px 5px 5px 5px;
}

.button-list-name:hover {
    -fx-background-color: #09bef5;
    -fx-cursor: hand;
}